doctype html
html
  head
    title My Blog
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
  body
    .container
      h1 My Blog

      // Форма создания новой записи
      form(action='/posts', method='POST')
        .form-group
          label(for='message') Message:
          textarea.form-control(name='message', id='message', rows='3', required)

        .form-group
          label(for='author') Author:
          input.form-control(type='text', name='author', id='author', required)

        button.btn.btn-primary(type='submit') Add Post

      hr

      // Список записей блога
      each post in posts
        .card.mt-3
          .card-body
            h5.card-title= post.author
            p.card-text= post.message
            p.card-text.small= post.date

            // Кнопки редактирования и удаления записи
            div.btn-group
              a.btn.btn-sm.btn-secondary(href=`/posts/${post.id}/edit`) Edit
              a.btn.btn-sm.btn-danger(href=`/posts/${post.id}/delete`) Delete

    script(src='/bootstrap/js/bootstrap.min.js')
